{
  "version": "2018-05-29",
  "method": "POST",
  "resourcePath": "/auth/sms_password",
  "params": {
      "body": {
        "document_number": "$context.args.document_number"
      },
      "headers": {
          "Content-Type": "application/json"
      }
  }
}
