{
  "version": "2018-05-29",
  "method": "PUT",
  "resourcePath": "/auth/sms_password",
  "params": {
      "body": {
        "document_number": "$context.args.document_number",
        "reset_password_token": "$context.args.reset_password_token",
        "password": "$context.args.password",
        "password_confirmation": "$context.args.password_confirmation"
      },
      "headers": {
          "Content-Type": "application/json"
      }
  }
}
