#if($ctx.error)
  $util.error($ctx.error.message, $ctx.error.type)
#end

#if($ctx.result.statusCode == 200)
  #set($response = $util.parseJson($context.result.body))
  #set($result = {
    "message": $response.message
  })
  $util.toJson($result)
#else
    #set($errors = $utils.parseJson($ctx.result.body).errors)
    #foreach($error in $errors)
      #foreach( $key in $error.keySet() )
        $util.error("$key: $error.get($key)[0]")
      #end
    #end
#end
